<?xml version="1.0" encoding="UTF-8"?>
   <bea-installer>
     <input-fields>
       <data-value name="BEAHOME" value="<%= node.default['WL_HOME'] %>" />
       <data-value name="WLS_INSTALL_DIR" value="<%= node.default['WL_HOME'] %>/wlserver_10.3" />
       <data-value name="COMPONENT_PATHS"
       		value="WebLogic Server/Core Application Server|WebLogic Server/Administration Console|WebLogic Server/Configuration Wizard and Upgrade Framework|WebLogic Server/Web 2.0 HTTP Pub-Sub Server|WebLogic Server/WebLogic JDBC Drivers|WebLogic Server/Third Party JDBC Drivers|WebLogic Server/WebLogic Server Clients|WebLogic Server/WebLogic Web Server Plugins|WebLogic Server/UDDI and Xquery Support|WebLogic Server/Server Examples|Oracle Coherence/Coherence Product Files" />
       <data-value name="INSTALL_NODE_MANAGER_SERVICE" value="no" />
       <data-value name="INSTALL_SHORTCUT_IN_ALL_USERS_FOLDER" value="no"/>

       <data-value name="LOCAL_JVMS" value="<%= node.default['java']['java_home'] %>"/>

   </input-fields>
</bea-installer>
