<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>ACR_STREAM</name>
          <description></description>
          <defaultValue><%= node['ACCUREV_STREAM'] %></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>WORKING_DIR</name>
          <description></description>
          <defaultValue><%= node['JENKINS_WORKSPACE'] %></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <de.pellepelster.jenkins.walldisplay.WallDisplayJobProperty plugin="jenkinswalldisplay@0.6.21"/>
  </properties>
  <scm class="hudson.plugins.accurev.AccurevSCM" plugin="accurev@0.6.19-SNAPSHOT">
    <serverName><%= node['ACCUREV_SERVER'] %></serverName>
    <depot><%= node['ACCUREV_DEPOT'] %></depot>
    <stream>${ACR_STREAM}</stream>
    <ignoreStreamParent>false</ignoreStreamParent>
    <useWorkspace>false</useWorkspace>
    <usePurgeIfLastFailed>true</usePurgeIfLastFailed>
    <useUpdate>false</useUpdate>
    <useRevert>false</useRevert>
    <useSnapshot>false</useSnapshot>
    <snapshotNameFormat></snapshotNameFormat>
    <synctime>false</synctime>
    <workspace><%= node['ACCUREV_WKSPC'] %></workspace>
    <workspaceSubPath></workspaceSubPath>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>${WORKING_DIR}</customWorkspace>
  <builders/>
  <publishers/>
  <buildWrappers/>
</project>