<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">


  <servers>
    <server>
          <id>devint</id>
          <username>viren</username>
          <password>lynx</password>
    </server>

    <server>
          <id>localinstance</id>
          <username>admin</username>
          <password>admin</password>
    </server>

  </servers>


  <profiles>

    <profile> 
        <id>cq</id> 
        <activation> 
            <activeByDefault>true</activeByDefault>
        </activation>
		<properties>
			 <releaseRepository-Id>adobe-public-releases</releaseRepository-Id>
			 <releaseRepository-Name>Adobe Public Releases</releaseRepository-Name>
			 <releaseRepository-URL>http://repo.adobe.com/nexus/content/groups/public</releaseRepository-URL>
		</properties>
        <repositories> 
				<repository>
					 <id>adobe-public-releases</id>
					 <name>Adobe Basel Public Repository</name>
					 <url>http://repo.adobe.com/nexus/content/groups/public</url>
					 <releases>
						 <enabled>true</enabled>
						 <updatePolicy>never</updatePolicy>
					 </releases>
					 <snapshots>
						 <enabled>true</enabled>
					 </snapshots>
				</repository>

				<repository>
					<id>localinstance</id>
					<name>localinstance</name>
                    <url>http://CHEF_MGD_CQSERVER:CHEF_MGD_CQPORT/maven/repository</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>

				<repository> 
					<id>cqblueprints.releases</id> 
					<name>CQ Blueprints Release Repository</name> 
					<url>http://dev.cqblueprints.com/nexus/content/repositories/releases/</url> 
					<releases> 
						<enabled>true</enabled> 
					</releases> 
					<snapshots> 
						<enabled>true</enabled> 
					</snapshots> 
				</repository> 
        </repositories>

        <pluginRepositories> 
			 <pluginRepository>
				 <id>adobe-public-releases</id>
				 <name>Adobe Basel Public Repository</name>
				 <url>http://repo.adobe.com/nexus/content/groups/public</url>
				 <releases>
					 <enabled>true</enabled>
					 <updatePolicy>never</updatePolicy>
				 </releases>
				 <snapshots>
					 <enabled>true</enabled>
				 </snapshots>
			 </pluginRepository>

            <pluginRepository>
                <id>localinstance</id>
                <name>localinstance</name>
                <url>http://CHEF_MGD_CQSERVER:CHEF_MGD_CQPORT/maven/repository</url>
                <releases>
                    <enabled>true</enabled>
                </releases>
                <snapshots>
                    <enabled>true</enabled>
                </snapshots>
            </pluginRepository>

            <pluginRepository> 
				<id>cqblueprints.plugins.releases</id>
				<name>CQ Blueprints Plugin Release Repository</name> 
				<url>http://dev.cqblueprints.com/nexus/content/repositories/releases/</url> 
				<releases> 
					<enabled>true</enabled> 
				</releases> 
				<snapshots> 
					<enabled>true</enabled> 
				</snapshots> 
            </pluginRepository> 
        </pluginRepositories> 
    </profile>


  </profiles>

</settings>
