#!/usr/bin/python
import os, sys

dsName='<%= node.default['jdbcDSName'] %>'
dsJndiName='<%= node.default['jdbcDSJndiName'] %>'
dsURL='<%= node.default['jdbcDSURL'] %>'
dsDriverName='<%= node.default['jdbcDSDriverName'] %>'
dsUserName='<%= node.default['jdbcDSUserName'] %>'
dsPassword='<%= node.default['jdbcDSPassword'] %>'
dsTestQuery='SQL SELECT 1 FROM DUAL'
dsDatabaseName='<%= node.default['jdbcDatabaseName'] %>'
datasourceTarget='<%= node.default['jdbcDSTarget'] %>'
wlUsername='<%= node.default['WL_USER'] %>'
wlPassword='<%= node.default['WL_USER_PASS'] %>'
wlPort=sys.argv[1]

connect(wlUsername, wlPassword, 't3://localhost:' + wlPort)
edit()
startEdit()
cd('/')

cmo.createJDBCSystemResource(dsName)
cd('/JDBCSystemResources/' + dsName + '/JDBCResource/' + dsName)
cmo.setName(dsName)

cd('/JDBCSystemResources/' + dsName + '/JDBCResource/' + dsName + '/JDBCDataSourceParams/' + dsName)
set('JNDINames',jarray.array([String('jdbc/' + dsJndiName)], String))
 
cd('/JDBCSystemResources/' + dsName + '/JDBCResource/' + dsName + '/JDBCDriverParams/' + dsName)
cmo.setUrl(dsURL)
cmo.setDriverName(dsDriverName)
cmo.setPassword(dsPassword)
 
cd('/JDBCSystemResources/' + dsName + '/JDBCResource/' + dsName + '/JDBCConnectionPoolParams/' + dsName)
cmo.setTestTableName(dsTestQuery)
cd('/JDBCSystemResources/' + dsName + '/JDBCResource/' + dsName + '/JDBCDriverParams/' + dsName + '/Properties/' + dsName)
cmo.createProperty('user')
 
cd('/JDBCSystemResources/' + dsName + '/JDBCResource/' + dsName + '/JDBCDriverParams/' + dsName + '/Properties/' + dsName + '/Properties/user')
cmo.setValue(dsUserName)
 
cd('/JDBCSystemResources/' + dsName + '/JDBCResource/' + dsName + '/JDBCDriverParams/' + dsName + '/Properties/' + dsName)
cmo.createProperty('databaseName')
 
cd('/JDBCSystemResources/' + dsName + '/JDBCResource/' + dsName + '/JDBCDriverParams/' + dsName + '/Properties/' + dsName + '/Properties/databaseName')
cmo.setValue(dsDatabaseName)
 
cd('/JDBCSystemResources/' + dsName + '/JDBCResource/' + dsName + '/JDBCDataSourceParams/' + dsName)
cmo.setGlobalTransactionsProtocol('OnePhaseCommit')
 
cd('/SystemResources/' + dsName)
set('Targets',jarray.array([ObjectName('com.bea:Name=' + datasourceTarget + ',Type=Server')], ObjectName))
 
save()
activate()

