#!/usr/bin/python
import os, sys

dsName=sys.argv[2]
dsJndiName=sys.argv[3]
dsList='<%= node.default['jdbcMultiDSList'] %>'
datasourceTarget='<%= node.default['jdbcDSTarget'] %>'
wlUsername='<%= node.default['WL_USER'] %>'
wlPassword='<%= node.default['WL_USER_PASS'] %>'
wlPort=sys.argv[1]

connect(wlUsername, wlPassword, 't3://localhost:' + wlPort)
edit()
startEdit()
cd('/')

cmo.createJDBCSystemResource(dsName)
cd('/JDBCSystemResources/' + dsName + '/JDBCResource/' + dsName)
cmo.setName(dsName)

cd('/JDBCSystemResources/' + dsName + '/JDBCResource/' + dsName + '/JDBCDataSourceParams/' + dsName)
set('JNDINames',jarray.array([String('jdbc/' + dsJndiName)], String))
 
cd('/JDBCSystemResources/' + dsName + '/JDBCResource/' + dsName + '/JDBCDataSourceParams/' + dsName)
cmo.setDataSourceList(dsList)
cmo.setGlobalTransactionsProtocol('OnePhaseCommit')
 
cd('/SystemResources/' + dsName)
set('Targets',jarray.array([ObjectName('com.bea:Name=' + datasourceTarget + ',Type=Server')], ObjectName))
 
save()
activate()

