#!/usr/bin/python
import os, sys
readTemplate('<%= node.default['WL_HOME'] %>/wlserver_10.3/common/templates/domains/wls.jar')
cd('/Security/base_domain/User/<%= node.default['WL_USER'] %>')
cmo.setPassword('<%= node.default['WL_USER_PASS'] %>')
cd('/Server/AdminServer')
cmo.setName(sys.argv[1]+'server')
cmo.setListenPort(int(sys.argv[2]))
writeDomain('<%= node.default['WL_HOME'] %>/domains/branddomain')
closeTemplate()
exit()
