#!/usr/bin/python
import os, sys

connect('<%= node.default['WL_USER'] %>','<%= node.default['WL_USER_PASS'] %>','t3://localhost:'+sys.argv[2])
target=sys.argv[1]+'server'
deploy('jsf',path='<%= node.default['WL_HOME'] %>/wlserver_10.3/common/deployable-libraries/jsf-2.0.war',targets=target,libraryModule='true')

exit()
