#!/usr/bin/python
import os, sys

connect('<%= node.default['WL_USER'] %>','<%= node.default['WL_USER_PASS'] %>','t3://localhost:'+sys.argv[2], timeout=600000)
target=sys.argv[1]+'server'
deploy('brand',path='/tmp/brand.war',targets=target)

save()
activate()
