#!/usr/bin/python
import os, sys

connect('<%= node.default['WL_USER'] %>','<%= node.default['WL_USER_PASS'] %>','t3://localhost:'+sys.argv[1])
edit()
startEdit()
cmo.setInternalAppsDeployOnDemandEnabled(false)
activate()
