  <jms-server>
    <name>JMS_<%= @servername %>server</name>
    <target><%= @servername %>server</target>
    <persistent-store>JMS_<%= @servername %>server</persistent-store>
  </jms-server>
  <file-store>
    <name>JMS_<%= @servername %>server</name>
    <directory><%= node.default['WL_HOME'] %>/domains/branddomain/jms</directory>
    <target><%= @servername %>server</target>
  </file-store>
  <jms-system-resource>
    <name>BookingSystemModule_brand</name>
    <target><%= @servername %>server</target>
    <sub-deployment>
      <name>BookingConnectionFactory_brand</name>
      <target>JMS_<%= @servername %>server</target>
    </sub-deployment>
    <sub-deployment>
      <name>Booking_brand</name>
      <target>JMS_<%= @servername %>server</target>
    </sub-deployment>
    <descriptor-file-name>jms/bookingsystemmodule_brand-jms.xml</descriptor-file-name>
  </jms-system-resource>
  <jms-system-resource>
    <name>AutoSystemModule_brand</name>
    <target><%= @servername %>server</target>
    <sub-deployment>
      <name>AutoRec_brand</name>
      <target>JMS_<%= @servername %>server</target>
    </sub-deployment>
    <sub-deployment>
      <name>EmailConnectionFactory_brand</name>
      <target>JMS_<%= @servername %>server</target>
    </sub-deployment>
    <sub-deployment>
      <name>AutoConnectionFactory_brand</name>
      <target>JMS_<%= @servername %>server</target>
    </sub-deployment>
    <sub-deployment>
      <name>Email_brand</name>
      <target>JMS_<%= @servername %>server</target>
    </sub-deployment>
    <descriptor-file-name>jms/autosystemmodule_brand-jms.xml</descriptor-file-name>
  </jms-system-resource>
